# Core Dependencies
fastapi
uvicorn[standard]
python-dotenv
python-multipart

# Web Scraping
playwright

# Document Generation
python-docx

# authentication
email-validator
pyjwt

# Database (standard library, kein pip install nötig)
# sqlite3